<div class="horizontal-slider">
    <div class="horizontal-slider-wrapper">
        <slides-container>
            <div class="slides">
                <ng-content select="hs-slide"></ng-content>
            </div>
        </slides-container>
    </div>

    <div class="nav nav-left" (click)="onNavigateLeft()" *ngIf="!HideNav" [class.disabled]="IsAtStart">
        <ng-content select="hs-nav-left"></ng-content>
    </div>
    <div class="nav nav-right" (click)="onNavigateRight()" *ngIf="!HideNav" [class.disabled]="IsAtEnd">
        <ng-content select="hs-nav-right"></ng-content>
    </div>
</div>